<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Review</title>
   <script src="app.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">          
  <script src= "bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src= "bower_components/angular-bootstrap/ui-bootstrap.min.js" type="text/javascript"></script>
  <script src= "bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body ng-controller="reviewCtrl">
<!-- 
      <div>
        Search: <input ng-model="query">

      </div> -->

      <div class="container">

     	<p>Review for: {{revCoffee.brand}}</p>

     <table style="width:100%" class="table table-striped">
     <tr>
     	<td>Reviewers</td>
	    <td>Comments</td>		
	    <td>Ratings</td>
    </tr>
     <tr ng-repeat="review in revCoffee.reviews ">
	     <td>{{review.reviewer}}</td>
	     <td>{{review.comment}}</td>		
	     <td>{{review.rating}}</td>
     </tr>
  </table>


</div>


</body>
</html>