<!-- <p>This is the partial for view 1.</p> -->
  <!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Coffee</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">          
  <script src= "bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src= "bower_components/angular-bootstrap/ui-bootstrap.min.js" type="text/javascript"></script>
  <script src= "bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
</head>
<body>
<!-- 
      <div>
        Search: <input ng-model="query">

      </div> -->

      <div class="container" ng-controller="mainCtrl">


     <table style="width:100%" class="table table-striped">
     <tr>
     	<td>Reviews:</td>
	    <td>Brand:</td>
	    <td>Name:</td>		
	    <td>Country:</td>
     </tr>
     <tr ng-repeat="coffee in coffees | filter:query | orderBy:'name'">
	     <td><a href="index.html#/view2/{{coffee.id}}">Review</a></td>
	     <td>{{coffee.brand}}</td>
	     <td>{{coffee.name}}</td>		
	     <td>{{coffee.country}}</td>
	     
     </tr>
  </table>


</div>


</body>
</html>